<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a th:href="@{/customer/create-form}">Create</a></p>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Age</td>
    </tr>
    <tr th:each="c : ${customer}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td th:text="${c.age}"></td>
        <td><a th:href="@{/customer/{id}/editForm(id=${c.getId()})}">EDIT</a></td>
        <td><a  th:href="@{/customer/{id}/delete(id=${c.getId()})}">DELETE</a></td>
    </tr>

</table>
<div>
    <a th:href="@{'/customers'(page=${customer.number - 1})}" th:if="${customer.hasPrevious()}">Previous</a>
    <span th:text="${customer.number + 1}"></span>/<span th:text="${customer.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customer.number + 1})}" th:if="${customer.hasNext()}">Next</a>
</div>
</body>
</html>